---
import "./LocaleFloat.less";
---

<div class="vh-locale-float" id="locale-float">
	<button
		type="button"
		class="vh-locale-float-trigger"
		aria-label="Switch language"
		aria-haspopup="listbox"
		aria-expanded="false"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
			<circle cx="12" cy="12" r="10"></circle>
			<path d="M2 12h20"></path>
			<path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
		</svg>
	</button>
	<div class="vh-locale-float-menu" role="listbox" aria-label="Language">
		<button type="button" class="vh-locale-float-option active" data-locale-option="zh" role="option" aria-selected="true">
			<span data-i18n="locale.labelZh">中文</span>
		</button>
		<button type="button" class="vh-locale-float-option" data-locale-option="en" role="option" aria-selected="false">
			<span data-i18n="locale.labelEn">English</span>
		</button>
	</div>
</div>
